@page
@model IndexModel

<div class="allEmojis">
    @foreach (var em in Model.Emojis)
    {
        <div class="emoji">
            <img src="@em.Url" alt="emoji @em.Key" />
            <code>@em.Key</code>
        </div>
    }
</div>
@*<ul class="emojiList">
        @foreach(var em in Model.Emojis) {
            <li>
                <img src="@em.Url" alt="emoji @em.Key"/>
                <code>@em.Key</code>
            </li>
        }
    </ul>*@
